/* Navbar */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #D2D8E7;
}

.navbar{
  background: #FFFFFF !important;
  padding: 20px 0;
}

.navbar .nav-item{
  margin-right: 50px;
}

.navbar .close-icons {
  margin-right: 30px;
}

.navbar .nav-item .nav-link{
  font-size: 14px;
  font-weight: 400;
  color: #54565C;
  padding: 0;
  transition: all .4s ease-in-out;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
}

.navbar .nav-item .nav-link:hover{
  color: #070D59;
}

.nav-item svg {
  width: 30px;
  height: 30px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* typogrhaphy */
h1{
    font-size: 40px;
    line: height 50px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}
h2{}
p{
    color: #AD6359;
}
/* end typo */

/* spacing */
mt-10{
    margin-top: 10px !important;
}
mt-20{
    margin-top: 20px !important;
}
mt-30{
    margin-top: 30px !important;
}
mt-50{
    margin-top: 50px !important;
}
/* end spacing */
.navbar{
    background: #d2d8e700 !important ;
    padding: 20px 0 ;
}

.navbar .nav-item{
    margin: 0 !important;
    padding: 0 !important;

}
.navbar .nav-item .nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #54565C;
    margin: 0 30px;
    padding: 0;
    transition: all .4s ease-in-out;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-direction: row;

}
.navbar .nav-item .nav-link:hover{
    color: #070D59 ;
}



/* start herro */
.hero{
    height: 100vh;
}

.hero .search-form{
    background: #F6F5F5;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    font-weight: 200;
    font-size: 16px;
}




/* About Me Section */
.title-about .text-center {
    text-align: center;
    
}
.title-about .text-center h1 {
    font-size: 25px;
    
}

.title-about .text-center p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    
}
.about-me-section {
    padding: 100px 0;
    background-color: #f7f7f7;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-content span {
    font-size: 14px;
    margin-bottom: 20px;
    color:#AD6359;
}

.about-content h1{
    font-size: 32px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    color: #000000;
}

/* Button Transparent */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #1F3C88;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 80px;
}

.btn-transparent {
    background-color: transparent;
    color: #1F3C88;
}

.btn-transparent:hover {
    background-color: #1F3C88;
    color: #f9f9f9;
}

.feature-card {
    border: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.feature-card img {
    margin-bottom: 20px; /* Menambahkan jarak antara gambar dan judul */
}

.feature-card h4 {
    margin-top: 15x; /* Menambahkan jarak antara judul dan paragraf */
}

.feature-card p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 15x;
}







/* about me end */
.price-about .text-center {
    text-align: center;
   
    
}
.line-container {
    text-align: center;
    margin: 10px 0;
}

.line {
    width: 70%;
    height: 3px;
    background-color: #000000;
    display: inline-block;
}
.price-about .text-center h1 {
    font-size: 23px;
    margin-bottom: 50px;
    
    
}

.price-about .text-center p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    
}
.price-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
   
}

.background-container {
    
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.price-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
}

.price-card h3 {
    font-size: 24px;
}

.price-card ul {
    list-style: none;
    padding: 0;
}

.price-card ul li {
    margin: 10px 0;
    font-size: 16px;
}
.price-card  .price-harga p{
    font-size: 35px;
    color: #005D04;
}


.btn:hover {
    background-color: #1F3C88;
    color: #f9f9f9;
}


* tutor */

.tutor-card{
    border: none;
    text-align: center;
    /* padding: 20px; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #F5F5F5;
    margin-top: 20px;
    
}

.location,
.teaching-duration,
.rating {
  text-align: justify;
  margin-left: 30px;
  font-size: 15px;
}

.location i,
.teaching-duration i,
.rating i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 15px;
}
.card-tutor-p {
    color: #808080; 
    margin-top: 5px ;
  }
  .card-tutor{
    margin-top: 10px;
    margin-bottom: 2px ;
  }
  .rating {
    color: green;
    font-size: 15px;
  }

.Selengkapnya {
    margin-top: 20px; /* Atur margin di bagian atas */
    margin-bottom: 30px; /* Atur margin di bagian bawah */
  }
  
  .btn-selengkapnya {
    margin: 10px; /* Atur margin secara seragam di semua sisi tombol */
  }

  .card-img-top {
    border-top-left-radius: 15px; /* Melengkungkan sudut kiri atas gambar */
    border-top-right-radius: 15px; /* Melengkungkan sudut kanan atas gambar */
    object-fit: cover; /* Memastikan gambar mengisi seluruh area dengan mempertahankan aspek rasio */
  }

/* tutor */
/* footer */
/* Styling for the footer section */
.footer-99382 {
    padding: 80px 0;
    color: #000000;
    text-align: left;
    background-color: #D2D8E7;
  }
  
  
  
  /* Styling for the site logo */
  .footer-site-logo {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  
  /* Styling for the footer content */
  .footer-99382 p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Styling for the nav-links */
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .nav-links a {
    color: #000000;
    text-decoration: none;
  }
  
  /* Styling for the social media icons */
  .social li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Styling for the copyright text */
  .copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 30px;
  }
  

  .card-search{
    border: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #D2D8E7;
    margin-top: 20px;
  }

  



  /* halaman tutuor */
  .tutorA-me-section {
    padding: 12px 0;
}

.tutorA-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 20px
}

.tutorA-card img {
    border-top-left-radius: 15px; /* Melengkungkan sudut kiri atas gambar */
    border-bottom-left-radius: 15px;
    object-fit: cover; /* Memastikan gambar mengisi seluruh area dengan mempertahankan aspek rasio */
    width: 200px;
    height:200px;
}

.deskripsiTutorA {
    padding: 10px 0;
    margin-top: 20px;
}

.card-tutorA {
    margin: 0;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

.card-tutor-p {
    margin: 0;
    font-size: 14px;
    margin-left: 30px;
    color: #666;
}

.location, .teaching-duration, .rating {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
/* Gaya ikon */
.fas {
    margin-right: 5px;
}

/* Gaya bingkai kartu pada tampilan ponsel */
@media (max-width: 767px) {
    .tutorA-card {
        margin-bottom: 20px;
    }
}

.deskripsiTutorA {
    position: relative;
}

.nextArrow {
    /* Styles for the arrow element */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 0;
    transform: translate(50%, -50%);
    transition: background-color 0.3s ease-in-out;
}


.nextArrow:hover {
    background-color: #007bff;
}

.nextArrow a svg {
    fill: #007bff;
    width: 20px;
    height: 20px;
      
    
}

.nextArrow:hover a svg {
    fill: #fff;
}