/* Navbar */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #D2D8E7;
}

.navbar{
  background: #FFFFFF !important;
  padding: 20px 0;
}

.navbar .nav-item{
  margin-right: 50px;
}

.navbar .close-icons {
  margin-right: 30px;
}

.navbar .nav-item .nav-link{
  font-size: 14px;
  font-weight: 400;
  color: #54565C;
  padding: 0;
  transition: all .4s ease-in-out;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
}

.navbar .nav-item .nav-link:hover{
  color: #070D59;
}

.nav-item svg {
  width: 30px;
  height: 30px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* typogrhaphy */
h1{
    font-size: 40px;
    line: height 50px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}
h2{}
p{
    color: #AD6359;
}
/* end typo */

/* spacing */
mt-10{
    margin-top: 10px !important;
}
mt-20{
    margin-top: 20px !important;
}
mt-30{
    margin-top: 30px !important;
}
mt-50{
    margin-top: 50px !important;
}
/* end spacing */
.navbar{
    background: rgba(210, 216, 231, 0) !important ;
    padding: 20px 0 ;
}

.navbar .nav-item{
    margin: 0 !important;
    padding: 0 !important;

}
.navbar .nav-item .nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #54565C;
    margin: 0 30px;
    padding: 0;
    transition: all .4s ease-in-out;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-direction: row;

}
.navbar .nav-item .nav-link:hover{
    color: #070D59 ;
}



/* start herro */
.hero{
    height: 100vh;
}

.hero .search-form {
  background: #F6F5F5;
  display: flex;
  border-radius: 15px;
  font-weight: 200;
  font-size: 16px;
  overflow: hidden;
}

.search-input {
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
  padding: 0 5px;
}

.search-input:last-child {
  border-right: none;
}

.search-input input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 10px;
}

.search-input i.material-icons {
  margin-right: 5px;
  color: #ccc;
}

button i.fas.fa-search {
  color: #fff;
}

button {
  border: none;
  background: #F6F5F5;
  padding: 10px 32px;
  background-color: #1F3C88;
}

button i {
  color: #333;
}



.card-search{
  border: none;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #D2D8E7;
  margin-top: 20px;
}


/* About Me Section */
.title-about .text-center {
    text-align: center;
    
}
.title-about .text-center h1 {
    font-size: 25px;
    
}

.title-about .text-center p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    
}
.about-me-section {
    padding: 100px 0;
    background-color: #f7f7f7;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.about-content span {
    font-size: 14px;
    margin-bottom: 20px;
    color:#AD6359;
}

.about-content h1{
    font-size: 32px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    color: #000000;
}

/* Button Transparent */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #1F3C88;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 80px;
}

.btn-transparent {
    background-color: transparent;
    color: #1F3C88;
}

.btn-transparent:hover {
    background-color: #1F3C88;
    color: #f9f9f9;
}

.feature-card {
    border: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.feature-card img {
    margin-bottom: 20px; /* Menambahkan jarak antara gambar dan judul */
}

.feature-card h4 {
    margin-top: 15x; /* Menambahkan jarak antara judul dan paragraf */
}

.feature-card p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 15x;
}


/* about me end */
.price-about .text-center {
    text-align: center;
   
    
}
.line-container {
    text-align: center;
    margin: 10px 0;
}

.line {
    width: 70%;
    height: 3px;
    background-color: #000000;
    display: inline-block;
}
.price-about .text-center h1 {
    font-size: 23px;
    margin-bottom: 50px;
    
    
}

.price-about .text-center p {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    
}
.price-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
   
}

.background-container {
    
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.price-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
}

.price-card h3 {
    font-size: 24px;
}

.price-card ul {
    list-style: none;
    padding: 0;
}

.price-card ul li {
    margin: 10px 0;
    font-size: 16px;
}
.price-card  .price-harga p{
    font-size: 35px;
    color: #005D04;
}


.btn:hover {
    background-color: #1F3C88;
    color: #f9f9f9;
}


/* tutor */

.tutor-card{
    border: none;
    text-align: center;
    /* padding: 20px; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #F5F5F5;
    margin-top: 20px;
    
}

.location,
.teaching-duration,
.rating {
  text-align: justify;
  margin-left: 30px;
  font-size: 15px;
}

.location i,
.teaching-duration i,
.rating i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 15px;
}
.card-tutor-p {
    color: #808080; 
    margin-top: 5px ;
  }
  .card-tutor{
    margin-top: 10px;
    margin-bottom: 2px ;
  }
  .rating {
    color: green;
    font-size: 15px;
  }

.Selengkapnya {
    margin-top: 20px; /* Atur margin di bagian atas */
    margin-bottom: 30px; /* Atur margin di bagian bawah */
  }
  
  .btn-selengkapnya {
    margin: 10px; /* Atur margin secara seragam di semua sisi tombol */
  }

  .card-img-top {
    border-top-left-radius: 15px; /* Melengkungkan sudut kiri atas gambar */
    border-top-right-radius: 15px; /* Melengkungkan sudut kanan atas gambar */
    object-fit: cover; /* Memastikan gambar mengisi seluruh area dengan mempertahankan aspek rasio */
  }

/* tutor */
/* footer */
/* Styling for the footer section */
.footer-99382 {
  padding: 80px 0;
  color: #000000;
  text-align: left;
  background-color: #D2D8E7;
}



/* Styling for the site logo */
.footer-site-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* Styling for the footer content */
.footer-99382 p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* Styling for the nav-links */
.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
}

/* Styling for the social media icons */
.social li {
  display: inline-block;
  margin-right: 10px;
}

/* Styling for the copyright text */
.copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  margin-top: 30px;
}



/* TUTOR HALAMAN */
.card-search-tutor{
  border: none;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #D2D8E7;
  margin-top: 20px;
}

.card-search-tutor .search-form {
  background: #F6F5F5;
  display: flex;
  border-radius: 15px;
  font-weight: 200;
  font-size: 16px;
  overflow: hidden;
  height: 50px;
}

.card-search-tutor .search-input {
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;
  padding: 0 5px;
  margin-right: 0px;
  width: 650px;
}

.card-search-tutor .search-input:last-child {
  border-right: none;
}

.card-search-tutor .search-input input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 10px;
}

.card-search-tutor .search-input i.material-icons {
  margin-right: 10px;
  color: #ccc;
 
  
}
.card-search-tutor .search-input i{
  margin-right: 10px;
  color: #1305cf;
  margin-top: 0px;
  
  
}
.card-search-tutor .button-tutor {
  border: none;
  background: #F6F5F5;
  /* padding: 10px 30px; */
  background-color: #1F3C88;
  height: 50px;
  width: 80px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:0px;
  margin-top: 0px;
  
}

.card-search-tutor .button-tutor i {
  color: #ffffff;
 
}

.card-search-tutor .button-tutor i.fas.fa-search {
  color: #ffffff;
  transform: scale(1.4);
  height: 40px;

}

/* HALAMAN TUTOR */
.tutorA-me-section {
  padding: 12px 0;
}

.tutorA-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px
}

.tutorA-card img {
  border-top-left-radius: 15px; /* Melengkungkan sudut kiri atas gambar */
  border-bottom-left-radius: 15px;
  object-fit: cover; /* Memastikan gambar mengisi seluruh area dengan mempertahankan aspek rasio */
  width: 200px;
  height:200px;
}

.deskripsiTutorA {
  padding: 10px 0;
  margin-top: 20px;
}

.card-tutorA {
  margin: 0;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}

.card-tutor-p {
  margin: 0;
  font-size: 14px;
  margin-left: 30px;
  color: #666;
}

.location, .teaching-duration, .rating {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
/* Gaya ikon */
.fas {
  margin-right: 5px;
}

/* Gaya bingkai kartu pada tampilan ponsel */
@media (max-width: 767px) {
  .tutorA-card {
      margin-bottom: 20px;
  }
}

.deskripsiTutorA {
  position: relative;
}

.nextArrow {
  /* Styles for the arrow element */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 0;
  transform: translate(50%, -50%);
  transition: background-color 0.3s ease-in-out;
}


.nextArrow:hover {
  background-color: #007bff;
}

.nextArrow a svg {
  fill: #007bff;
  width: 20px;
  height: 20px;
    
  
}

.nextArrow:hover a svg {
  fill: #fff;
}


/* HALAMAN PROFIL TUTOR */
.foto-Profile .card-header-profilTutor{
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 0px;
  height: 50px;
}


.foto-Profile .card-formulir{
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  background-color: #ffffff;
  margin-right: 50px;
  margin-left: 0px;
 
}

.foto-Profile .btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #1F3C88;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 80px;
  justify-content: center; /* Mengatur konten menjadi di tengah secara horizontal */
  align-items: center;
  
}

.foto-Profile .card {
  position: relative;
  width: 270px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 70px;
  margin-left: 70px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto 10px;
  object-fit: cover;
}

.foto-Profile .plus-icon {
  position: absolute;
  bottom: 48px;
  right: 48px;
  width: 30px;
  height: 30px;
  background-color:#070D59;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.foto-Profile .plus-icon i {
  color: white;
}

.foto-Profile .card-menu {
  position: relative;
  width: 270px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: 70px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.foto-Profile .menu {
  display: flex;
  flex-direction: column;
}

.foto-Profile .menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.foto-Profile .menu-item:last-child {
  border-bottom: none;
}

.foto-Profile .menu-item:hover {
  background-color: #f5f5f5;
}

.foto-Profile .menu-item i {
  font-size: 1.25rem;
  margin-right: 10px;
}

.foto-Profile .menu-item span {
  font-size: 0.875rem;
}


/* DETAIL TUTOR HALAMAN */

.detailTutor .btn-reservasi {
  background-color: #1F3C88;
  width: 200px;
  height: 40px;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 35px !important;
}

.detailTutor .btn-reservasi:hover {
  background-color: #0e1d4a;
}

.detailTutor .col-md-4 img.img-fluid.rounded-start {
  border-radius: 15px;
  margin: 30px;
  max-width: 250px;
}

.detailTutor .d-flex.flex-row.justify-content-between {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.detailTutor .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.detailTutor .card-text {
  margin-bottom: 10px;
}

.detailTutor .card-text.d-flex.flex-column {
  margin-right: 110px;
}

.detailTutor .card-text span {
  display: block;
  font-weight: bold;
}

.detailTutor .card-text span:not(:first-child) {
  margin-top: 5px;
  font-weight: bold;
}

.detailTutor .pagination {
  display: flex;
  align-items: center;
}

.detailTutor .pagination span {
  margin: 0 5px;
  padding: 5px;
  border-radius: 50%;
  background-color: #EBEBEB;
  cursor: pointer;
}

.detailTutor .rounded-icon {
  border-radius: 50%;
  padding: 8px;
  background-color: #EBEBEB;
  cursor: pointer;
}

.detailTutor .material-icons {
  font-size: 24px;
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  display: inline-block;
}

.detailTutor .row {
  display: flex;
  justify-content: space-between;
}

.detailTutor .card.mb-3 {
  margin: 5px;
  margin-right: 5px;
  flex: 1;
  border: none;
  box-shadow: none;
}

.detailTutor .col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.detailTutor .testimonial-card {
  background-color: #D2D8E7;
  border-radius: 15px;
  max-height: 250px;
}

.detailTutor .card-container {
  padding-left: 5px;
  padding-right: 5px;
}
.detailTutor .profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.detailTutor .yellow-star {
  color: #FFC54D;
}

.detailTutor p{
  color: #0f0f0f;
}

/* HALAMAN RIWAYAT */
.riwayat .card-header-profilTutor{
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  background-color: #ffffff;
  margin-top: 70px;
  margin-right: 50px;
  margin-left: 0px;
  height: 50px;
}


.riwayat .card-formulir{
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  background-color: #ffffff;
  margin-right: 50px;
  margin-left: 0px;
 
}

.riwayat .btn {
  display: inline-block;
  padding: 1px 20px;
  border: 2px solid #1F3C88;
  border-radius: 15px;
  text-decoration: none;
  font-weight: lighter;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 80px;
  justify-content: center; /* Mengatur konten menjadi di tengah secara horizontal */
  align-items: center;
  
}

.riwayat .card {
  position: relative;
  width: 270px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 70px;
  margin-left: 70px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.riwayat .profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto 10px;
  object-fit: cover;
}

.riwayat .plus-icon {
  position: absolute;
  bottom: 48px;
  right: 48px;
  width: 30px;
  height: 30px;
  background-color:#070D59;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.riwayat.plus-icon i {
  color: white;
}

.riwayat .card-menu {
  position: relative;
  width: 270px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-left: 70px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.riwayat .menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.riwayat .menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.riwayat .menu-item:last-child {
  border-bottom: none;
}

.riwayat .menu-item:hover {
  background-color: #f5f5f5;
}

.riwayat.menu-item i {
  font-size: 1.25rem;
  margin-right: 10px;
}

.riwayat.menu-item span {
  font-size: 0.875rem;
}

.button-reservasi {
  margin-top: -70px; /* Menggeser tombol-tombol naik untuk mendekatkan dengan header kartu */
  display: flex; /* Menggunakan tata letak flex untuk mengatur tombol dalam satu baris */
  justify-content: flex-start;
  height: 120px; /* Menggeser tombol-tombol ke sisi kiri */
}

.button-reservasi .btn {
  margin-right: 10px; /* Memberikan jarak antara tombol-tombol */
}


.riwayat .tutorA-me-section {
  padding: 12px 0;
}

.riwayat .tutorA-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 805px;
  
 
}

.riwayat .tutorA-card img {
  border-top-left-radius: 15px; /* Melengkungkan sudut kiri atas gambar */
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  
  object-fit: cover; /* Memastikan gambar mengisi seluruh area dengan mempertahankan aspek rasio */
  width: 150px;
  height:150px;
}

.riwayat .deskripsiTutorA {
  padding: 10px 0;
  margin-top: 20px;
}

.riwayat .card-tutorA {
  margin: 0;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
}

.riwayat .card-tutor-p {
  margin: 0;
  font-size: 14px;
  margin-left: 30px;
  color: #666;
}



/* Gaya bingkai kartu pada tampilan ponsel */
@media (max-width: 767px) {
  .riwayat .tutorA-card {
      margin-bottom: 20px;
  }
}

.riwayat .deskripsiTutorA {
  position: relative;
}

.riwayat .selengkapnya .btn-selengkapnya {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 0;
  transform: translate(170%, -400%);
  transition: background-color 0.3s ease-in-out;
 
}


.riwayat .tanggal .nav-tanggal{
  font-size: 14px;
  font-weight: 400;
  color: #54565C;
  padding: 0;
  transition: all .4s ease-in-out;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
}

.navbar .nav-item .nav-link:hover{
  color: #070D59;
}


.testimoni-title {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  margin-left: 43px;
  height: 70px;
}

.card {
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.beri-testimoni-tittle{
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
}

.input-container input.form-control {
  background-color: #D2D8E7;
  border: 1px solid #070D59;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.input-container label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #ccc;
}

.input-container textarea.form-control {  
  background-color: #D2D8E7;
  border: 1px solid #070D59;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.input-container {
  margin-left: 70px;
}

.btn-submit-testimoni {
  margin-left: 70px;
  background-color: #1F3C88;
  border-radius: 15px;
  width: 200px;
  
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  width: 100%;
}


.star-rating input {
  display: none;
}

.star-rating label {
  cursor: pointer;
  color: #ccc; /* Warna bintang default (belum dipilih) */
  font-size: 23px;
  margin-bottom: 20px;
}

.star-rating input:checked + label {
  color: #FFD700; /* Warna bintang setelah dipilih */
}

.star-rating label:hover, 
.star-rating input:checked + label,
.star-rating input:checked ~ label {
  color: #FFD700; /* Warna bintang setelah dipilih */
}


.rating-container label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.riwayat .tanggal .nav-tanggal svg {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  /* margin-bottom: -100px; */
}